PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=nodejs_security
JWT_SECRET=replace-with-a-long-random-secret
FRONTEND_URL=http://localhost:5173/    // Replace with your frontend SERVER IP
